<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pizza Lelo Pizza</title>
	
	<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	 -->
	 
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-casual.css" rel="stylesheet">
    <link href="css/location_css.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
	
		<!-- jQuery -->
    <script src="js/jquery.js" defer></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js" defer></script>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    	<!-- angular.js -->
	 <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	 <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	 <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>

    <script>
        // Note: This example requires that you consent to location sharing when
        // prompted by your browser. If you see a blank space instead of the map, this
        // is probably because you have denied permission for location sharing.

        var map;
        var loc1 = new google.maps.LatLng(37.326393,-121.911847);
        var loc2 = new google.maps.LatLng(37.315703,-121.793517);
        var loc3 = new google.maps.LatLng(37.249737,-121.804612);
        var loc4 = new google.maps.LatLng(37.388246,-122.030271);
        var loc5 = new google.maps.LatLng(37.399421,-121.848274);

        function initialize() {
            var mapOptions = {
                zoom: 9
            };
            map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);

            // Try HTML5 geolocation
            if(navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = new google.maps.LatLng(position.coords.latitude,
                            position.coords.longitude);

                    var marker9=new google.maps.Marker({
                        position:pos,
                        animation:google.maps.Animation.BOUNCE
                    });

                    marker9.setMap(map);
                    var infowindow9 = new google.maps.InfoWindow({
                        content:"Current Location"
                    });
                    infowindow9.open(map,marker9);

                    map.setCenter(pos);
                }, function() {
                    handleNoGeolocation(true);
                });
            } else {
                // Browser doesn't support Geolocation
                handleNoGeolocation(false);
            }

//marker1
            var marker1=new google.maps.Marker({
                position:loc1,
            });

            marker1.setMap(map)

            var infowindow1 = new google.maps.InfoWindow({
                content:"PIZZA LELO PIZZA,199 Race St, San Jose, CA (408) 287-1900"
            });

            google.maps.event.addListener(marker1, 'click', function() {
                infowindow1.open(map,marker1);
            });

//marker2
            var marker2=new google.maps.Marker({
                position:loc2,
            });

            marker2.setMap(map)
            var infowindow2 = new google.maps.InfoWindow({
                content:"PIZZA LELO PIZZA,3227 S White Rd San Jose, CA (408) 238-5176"
            });

            google.maps.event.addListener(marker2, 'click', function() {
                infowindow2.open(map,marker2);
            });

//marker3

            var marker3=new google.maps.Marker({
                position:loc3,
            });

            marker3.setMap(map)
            var infowindow3 = new google.maps.InfoWindow({
                content:"PIZZA LELO PIZZA,5689 Cottle Rd San Jose, CA (408) 629-4500"
            });

            google.maps.event.addListener(marker3, 'click', function() {
                infowindow3.open(map,marker3);
            });

//marker4
            var marker4=new google.maps.Marker({
                position:loc4,
            });
            var infowindow4 = new google.maps.InfoWindow({
                content:"PIZZA LELO PIZZA,464 N Mathilda Ave, Sunnyvale, CA 94085"
            });

            google.maps.event.addListener(marker4, 'click', function() {
                infowindow4.open(map,marker4);
            });


            marker4.setMap(map)


//marker5
            var marker5=new google.maps.Marker({
                position:loc5,
            });
            var infowindow5 = new google.maps.InfoWindow({
                content:"PIZZA LELO PIZZA,3245a Sierra Rd San Jose, CA 95132"
            });

            google.maps.event.addListener(marker5, 'click', function() {
                infowindow5.open(map,marker5);
            });
            marker5.setMap(map)

        }

        function handleNoGeolocation(errorFlag) {
            if (errorFlag) {
                var content = 'Error: The Geolocation service failed.';
            } else {
                var content = 'Error: Your browser doesn\'t support geolocation.';
            }

            var options = {
                map: map,
                position: new google.maps.LatLng(60, 105),
                content: content
            };

            var infowindow = new google.maps.InfoWindow(options);
            map.setCenter(options.position);
        }

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>

</head>

<body>
<div ng-app="" ng-controller="findUsController">
<header>
    <div class="brand">Pizza Lelo Pizza</div>
    <div class="address-bar">Happy Pizzas To Make Happy Times</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Business Casual</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                 <li>
                        <a href="#" ng-click="homePage()">HOME</a>
                    </li>
                    <li>
                        <a href="#" ng-click="pizzaPage()">PIZZA</a>
                    </li>
                    <li>
                        <a href="#" ng-click="buildYourOwnPage()">BUILD YOUR OWN</a>
                    </li>
                    <li>
                        <a href="#" ng-click="sidesPage()">SIDES</a>
                    </li>
                    <li>
                        <a href="#" ng-click="dealsPage()">DEALS</a>
                    </li>
                   <li class="active">
                        <a href="#" ng-click="findUsPage()">Find Us</a>
                    </li>
                <li class="dropdown">
          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart"></span> <span  id="itemNumber"></span><span class="caret"></span></a>
         	<ul class="dropdown-menu" id="theCart" role="menu">
            </ul>
             </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    </header>
    </div>
</body>
<body>
<div id="map-canvas"></div>

    <footer>

        <div class="container" align="center">
    
        <div class="row">
  			<div class="col-sm-6">
  			<h3>ORDER</h3>
  			<a href="#" ng-click="sidesPage()"><h4 style="color:grey;">Sides</h4></a>
  			<a href="#" ng-click="pizzaPage()"><h4 style="color:grey;">Pizza</h4></a>
  			<a href="#" ng-click="dealsPage()"><h4 style="color:grey;">Deals</h4></a>
  			<a href="#" ng-click="buildYourOwnPage()"><h4 style="color:grey;">Build your Own</h4></a>
  			</div>
  			<div class="col-sm-6">
  			<h3>ABOUT US</h3>
  			<a href="#" ng-click="faqsPage()"><h4 style="color:grey;">FAQs</h4></a>
  			<a href="#" ng-click="findUsPage()"><h4 style="color:grey;">Find Us</h4></a>
  			<a href="#" ng-click="ourStoryPage()"><h4 style="color:grey;">Our Story</h4></a>
  			<a href="#" ng-click="contactUsPage()"><h4 style="color:grey;">Contact Us</h4></a>
  			</div>
		</div>
            </div>
            
            <p align="center">Copyright &copy; pizzalelopizza-pizzalelopizza.rhcloud.com</p>
    </footer>
    </div> <!-- ng-app -->
    
       <script defer>
     function checkOutPage()
       {
             	window.location = '/checkOutPage';
       }
    function findUsController($scope,$http,$location) {
    displayCart();
         
           	function displayCart(){
           	if(JSON.parse(sessionStorage.getItem("cart"))!=null)
           	{
           	var itemNumber = JSON.parse(sessionStorage.getItem("cart")).length;
           	document.getElementById("itemNumber").innerHTML=itemNumber;
           	var cart= JSON.parse(sessionStorage.getItem("cart"));
           		var ul = document.getElementById("theCart");
           		ul.innerHTML = '';
           		
           	for (var i=0;i<itemNumber;i++) {
       	      	var ul = document.getElementById("theCart");
       	    	var li = document.createElement("li");
       	    	ul.appendChild(li);
       	    	li.innerHTML = '<a href="">'+cart[i].name+'--$'+cart[i].cost+'</a>';
       	       	}
       	       	
       	       	var li = document.createElement("li");
       	    	ul.appendChild(li);
       	    	li.innerHTML = '<div style="text-align: center;"><button type="button" class="btn btn-warning" onclick="checkOutPage()">Checkout</button></div>';
       	    	
       	       	}
       	       	else
       	       	{
       	       	var ul = document.getElementById("theCart");
    			ul.innerHTML = '';
    			document.getElementById("itemNumber").innerHTML="";
       	       	}
       	}
		$scope.homePage = function() {
		window.location = '/index';
		};
		$scope.pizzaPage = function() {
		window.location = '/pizzaPage';
		};
		$scope.buildYourOwnPage = function() {
		window.location = '/buildYourOwnPage';
		};
		
		$scope.sidesPage = function() {
		window.location = '/sidesPage';
		};
		$scope.dealsPage = function() {
		window.location = '/dealsPage';
		};
		$scope.findUsPage = function() {
		window.location = '/findUsPage';
		};
		$scope.faqsPage = function() {
		window.location = '/faqsPage';
		};
		$scope.ourStoryPage = function() {
		window.location = '/ourStoryPage';
		};
		$scope.contactUsPage = function() {
		window.location = '/contactUsPage';
		};
		}
		</script>
    </body>

</html>