<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Pizzalelopizza a pizza ordering website where you can easily customize your pizza, located in many places in united states.">
<meta name="author" content="CMPE280 Team10">
<meta name="keyword" content="Pizzalelopizza, Creative, Pizza, Analytics, Food, Bootstrap, Responsive, Retina, Minimal">
<link rel="shortcut icon" href="img/favicon.png">

    <title>Pizza Lelo Pizza</title>
	
	<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	 -->
	 
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    
   <!-- jQuery -->
    <script src="js/jquery.js" defer></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js" defer></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    	<!-- angular.js -->
	 <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	 <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	 <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	

</head>

<body>
<div ng-app="" ng-controller="checkOutController">
<header>
    <div class="brand">Pizza Lelo Pizza</div>
    <div class="address-bar">Happy Pizzas To Make Happy Times</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Pizza Lelo Pizza</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                 <li>
                        <a href="#" ng-click="homePage()">HOME</a>
                    </li>
                    <li>
                        <a href="#" ng-click="pizzaPage()">PIZZA</a>
                    </li>
                    <li>
                        <a href="#" ng-click="buildYourOwnPage()">BUILD YOUR OWN</a>
                    </li>
                    <li>
                        <a href="#" ng-click="sidesPage()">SIDES</a>
                    </li>
                    <li>
                        <a href="#" ng-click="dealsPage()">DEALS</a>
                    </li>
                   <li class="active">
                        <a href="#" ng-click="findUsPage()">Find Us</a>
                    </li>
                <li class="dropdown">
          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart"></span><span  id="itemNumber"></span> <span class="caret"></span></a>
         <ul class="dropdown-menu" role="menu"  id="theCart" style="color:grey;padding-left:0.2cm;">
           
            </ul>
           </li>
                </ul>
               
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    </header>
    <br><br>  
    <div class="box" style="background-color:black;color:white;" align="center">
      <div align="center" style="font-size:150%;">Your Cart</div>
       <hr>
     <div ng-repeat="item in cartItems">
          <div class="row">
  <div class="col-sm-4" style="font-size:130%;">{{item.name}}</div>
  <div class="col-sm-4" style="font-size:130%;">{{item.cost}}</div>
  <div class="col-sm-4" style="font-size:130%;"> <a href="" ng-click="removeItem(item)">Remove</a> </div>
</div>
   </div>
   </div>
            
<br><br>            
<div class="box" style="background-color:black;color:white;" align="center">
  <div class="col-lg-12">
  <div align="center" style="font-size:150%;">Address</div>
    <hr>
	<form class="form-inline">
  	<div class="form-group">
    <input type="text" class="form-control" id="address" placeholder="Address Line 1" required>
  </div>
  <div class="form-group">
      <input type="text" class="form-control" id="city" placeholder="City" required>
  </div>
   <div class="form-group">
    <input type="text" class="form-control" id="state" placeholder="State" required>
  </div>
   <div class="form-group">
    <input type="text" class="form-control" id="zipcode" placeholder="Zip Code">
  </div>
  </form>
 </div>
</div>



<div class="box" style="background-color:black;color:white;" align="center">
  <div class="col-lg-12">
  <div align="center" style="font-size:150%;">Pay For Your Order</div>
    <hr>
	<form class="form-inline">
  	<div class="form-group">
  	<input type="text" class="form-control" id="cardNumber" placeholder="Card Number" style="width:200px;">
  	</div>
  <div class="form-group">
      <input type="text" class="form-control" id="name" placeholder="Name on Card" style="width:200px;">
  </div>
   <div class="form-group">
    <input type="month" class="form-control" id="expiration" placeholder="Expiration Date" required>
  </div>
   <div class="form-group">
    <input type="text" class="form-control" id="billZipcode" placeholder="Billing ZipCode">
  </div>
  </form>
 </div>
</div>

      
      
    <div  align="center">  
    <button type="button" class="btn btn-warning" ng-click="placeOrder()">Place Order</button>
    <button type="button" class="btn btn-warning" ng-click="likeUs()" id="like" style="margin-left:1cm;">Like Us</button>
    </div>
    <br>
    <footer>

        <div class="container" align="center">
    
        <div class="row">
  			<div class="col-sm-6">
  			<h3>ORDER</h3>
  			<a href="#" ng-click="sidesPage()"><h4 style="color:grey;">Sides</h4></a>
  			<a href="#" ng-click="pizzaPage()"><h4 style="color:grey;">Pizza</h4></a>
  			<a href="#" ng-click="dealsPage()"><h4 style="color:grey;">Deals</h4></a>
  			<a href="#" ng-click="buildYourOwnPage()"><h4 style="color:grey;">Build your Own</h4></a>
  			</div>
  			<div class="col-sm-6">
  			<h3>ABOUT US</h3>
  			<a href="#" ng-click="faqsPage()"><h4 style="color:grey;">FAQs</h4></a>
  			<a href="#" ng-click="findUsPage()"><h4 style="color:grey;">Find Us</h4></a>
  			<a href="#" ng-click="ourStoryPage()"><h4 style="color:grey;">Our Story</h4></a>
  			<a href="#" ng-click="contactUsPage()"><h4 style="color:grey;">Contact Us</h4></a>
  			</div>
		</div>
            </div>
            
            <p align="center">Copyright &copy; pizzalelopizza-pizzalelopizza.rhcloud.com</p>
    </footer>
    </div> <!-- ng-app -->
    
       <script>
     function checkOutPage()
       {
             	window.location = '/checkOutPage';
       }
    function checkOutController($scope,$http,$location) {
    	displayCart();
    	$scope.cartItems=JSON.parse(sessionStorage.getItem("cart"));
    	
    	function displayCart(){
    	if(JSON.parse(sessionStorage.getItem("cart"))!=null)
    	{
    	var itemNumber = JSON.parse(sessionStorage.getItem("cart")).length;
    	document.getElementById("itemNumber").innerHTML=itemNumber;
    	var cart= JSON.parse(sessionStorage.getItem("cart"));
    		var ul = document.getElementById("theCart");
    		ul.innerHTML = '';
    		
    	for (var i=0;i<itemNumber;i++) {
	      	var ul = document.getElementById("theCart");
	    	var li = document.createElement("li");
	    	ul.appendChild(li);
	    	li.innerHTML = '<a href="">'+cart[i].name+'</a>';
	       	}
	       	
	       	var li = document.createElement("li");
	    	ul.appendChild(li);
	    	li.innerHTML = '<div style="text-align: center;"><button type="button" class="btn btn-warning" onclick="checkOutPage()">Checkout</button></div>';
	    	
	       	}
	       	else
	       	{
	       	var ul = document.getElementById("theCart");
    		ul.innerHTML = '';
    		document.getElementById("itemNumber").innerHTML="";
	       	}
       	}
       	
   	$scope.placeOrder = function() {
 	if(document.getElementById("address").value=="")
 	{
 	alert("Fill Address");
 	return;
 	}
 	if(document.getElementById("city").value=="")
 	{
 	alert("Fill city");
 	return;
 	}
 	if(document.getElementById("state").value=="")
 	{
 	alert("Fill state");
 	return;
 	}
 	if(document.getElementById("zipcode").value=="")
 	{
 	alert("Fill zip code");
 	return;
 	}
 	if(document.getElementById("cardNumber").value=="")
 	{
 	alert("Fill Card Number");
 	return;
 	}
 	if(document.getElementById("name").value=="")
 	{
 	alert("Fill name");
 	return;
 	}
 	if(document.getElementById("expiration").value=="")
 	{
 	alert("Fill expiration");
 	return;
 	}
 	if(document.getElementById("billZipcode").value=="")
 	{
 	alert("Fill billing zip code");
 	return;
 	}
 	
   	if(sessionStorage.getItem("cart")!=null)
   	{
   	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth()+1; //January is 0!
	var yyyy = today.getFullYear();
	if(dd<10){
	 dd='0'+dd
	} 
	if(mm<10){
	 mm='0'+mm
	} 
	var today = yyyy+'-'+mm+'-'+dd;
	   	
	$http({
	            method: 'POST',
	            url: '/placeOrder',
	            data: { "orderDetails": sessionStorage.getItem("cart"),"city":document.getElementById("city").value,"state":document.getElementById("state").value,"zip":document.getElementById("zipcode").value,"date":today}
	            
	         }).success(function(response){
	          alert("Order Placed");
	          sessionStorage.removeItem("cart");
	          displayCart();
	          $scope.homePage();
	        }).error(function(error){
	            alert("error");
	        });
	        }
	        else{
	        alert("Cart is empty");
	        }
	        
	};
    	
    	
    	  $scope.likeUs = function() {
		  document.getElementById("like").disabled="true";
		    $http({
	            method: 'GET',
	            url: '/likeUs',
	          }).success(function(response){
	        
	     }).error(function(error){
	            alert("error");
	        });
		    };   	
		    	
       	$scope.removeItem = function(item) {
       	if(JSON.parse(sessionStorage.getItem("cart"))!=null)
    	{
    	var itemNumber = JSON.parse(sessionStorage.getItem("cart")).length;
    	var cart= JSON.parse(sessionStorage.getItem("cart"));
    	
    	for (var i=0;i<itemNumber;i++) {
    	   console.log(cart[i].name);
	       console.log(item.name);
	      if(!(item.name).localeCompare(cart[i].name))
	      {
	      cart.splice(i,1);
	      sessionStorage.setItem("cart",JSON.stringify(cart));
	      break;
	      }
	      else
	      {
	    
	      }
	       	}
	      	$scope.cartItems=JSON.parse(sessionStorage.getItem("cart"));
	      	displayCart();
        	}
       	};
       	
		$scope.homePage = function() {
		window.location = '/index';
		};
		$scope.pizzaPage = function() {
		window.location = '/pizzaPage';
		};
		$scope.buildYourOwnPage = function() {
		window.location = '/buildYourOwnPage';
		};
		
		$scope.sidesPage = function() {
		window.location = '/sidesPage';
		};
		$scope.dealsPage = function() {
		window.location = '/dealsPage';
		};
		$scope.findUsPage = function() {
		window.location = '/findUsPage';
		};
		$scope.faqsPage = function() {
		window.location = '/faqsPage';
		};
		$scope.ourStoryPage = function() {
		window.location = '/ourStoryPage';
		};
		$scope.contactUsPage = function() {
		window.location = '/contactUsPage';
		};
		}
		</script>
    </body>

</html>